.sorta_hidden {
  display: none; /* unlike bootstrap's "hidden" class, is not considered !important */
}


html { 
  overflow-y: scroll; 
}

.email {
  font-style: italic;
  color: #555555;
}

.jumbotron li {
    font-size: 17px;
}