.sorta_hidden {
  display: none; /* unlike bootstrap's "hidden" class, is not considered !important */
}


html { 
  overflow-y: scroll; 
}

.email {
  font-style: italic;
  color: #555555;
}

.bluebg {
  background-color: #0099CC;
}

.whitebox {
  background-color:#FFF;
}

.intro {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  position:relative;
}

.whitetext {
  color: #FFF;
}

.bluetext{
  color:#0099CC;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  text-align: right;
}

@media screen and (min-width: 800px){
  .intro {
  background-color: #0099CC;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  position:relative;
  padding-right: 5%;
  padding-left: 5%;
  }
}

.introbox {
  height: 100%;
  width: 100%;
  max-width:750px;
  margin:auto;
}

/* create a container for the 3 input boxes*/

.input3box{
  background-color: #fff;
  border-radius:5px;
  margin-bottom:5px;
  margin-right:auto;
  margin-left:auto;
  max-width: 300px;
  padding-bottom: 10px;
  padding-top:10px;
  padding-left: 5px;
  padding-right:5px;
}

.signup-store, .signup-email, .signup-password{
  box-sizing: border-box;
  width:100%;
  height:100%;
  margin-top: 8px;
  margin-right:0px;
  margin-left:0px;
  margin-bottom:5px;
  float:center;
}

.signup-button {
  margin-left:0%;
  margin-right:0%;
}

@media screen and (min-width:500px){
  .input3box{
    max-width: 500px;
  }

  .signup-store{
    box-sizing: content-box;
    width:100%;
    float:center;
    margin-right:0px;
    margin-left:0px;
  }

  .signup-email, .signup-password {
    box-sizing: border-box;
    width:50%;
    margin-right:0px;
    margin-left:0px;
    float:left;
  }

  .signup-button {
  margin-left:20%;
  margin-right:20%;
  }
}

@media screen and (min-width: 800px){
  .input3box{
    max-width: 900px;
  }

  .signup-store, .signup-email, .signup-password{
    box-sizing: border-box;
    width:30%;
    margin-right:1.6666%;
    margin-left:1.6666%;
    float:left;
  }
}


.footer{
color:#aaa;
text-align:right;
}

.blurb {
  padding: 100px;
  text-align: center;
  position: relative;
}

.blurbBody {
  max-width:700px;
  margin:auto;
}
