.sorta_hidden {
  display: none; /* unlike bootstrap's "hidden" class, is not considered !important */
}


html { 
  overflow-y: scroll; 
}

.email {
  font-style: italic;
  color: #555555;
}

/* main page content*/
.intro {
  background-color: #0099CC;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
  position:relative;
}

@media screen and (max-width: 768px){
  .intro {
  background-color: #0099CC;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  position:relative;
  }
}

.introbox {
  height: 100%;
  width: 100%;
  max-width:750px;
  margin:auto;
}

/* create a space for the 3 input boxes*/
.input3box{
  background-color: #fff;
  max-width:900px;
  padding-bottom: 5px;
  padding-top:10px;
  border-radius:5px;
  margin-bottom:5px;
  margin-right:auto;
  margin-left:auto;
}

.signup-store, .signup-email, .signup-password{
  box-sizing: border-box;
  width:240px;
  height:34px;
  margin-top: 8px;
  margin-right:5px;
  margin-left:5px;
  float:left;
}

.signup-email{
  box-sizing: border-box;
  width:240px;
  height:34px;
  margin-top: 8px;
  margin-right:5px;
  margin-left:5px;
  float:left;
}

.signup-password{
  box-sizing: border-box;
  width:240px;
  height:34px;
  margin-top: 8px;
  margin-right:5px;
  margin-left:5px;
  float:left;
}

@media screen and (max-width: 1000px){
  .input3box{
    max-width: 500px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right:5px;
  }

  .signup-store{
    box-sizing: content-box;
    width:100%;
    float:center;
    margin-right:0px;
    margin-left:0px;
  }

  .signup-email, .signup-password {
    box-sizing: border-box;
    width:50%;
    margin-right:0px;
    margin-left:0px;
    float:left;
  }
}

@media screen and (max-width: 500px){
  .input3box{
    max-width: 300px;
    padding-left: 5px;
    padding-right:5px;
  }

  .signup-store{
    box-sizing: content-box;
    width:100%;
    float:center;
    margin-right:0px;
    margin-left:0px;
  }

  .signup-email{
    box-sizing: content-box;
    width:100%;
    float:center;
    margin-right:0px;
    margin-left:0px;
  }

  .signup-password{
    box-sizing: content-box;
    width:100%;
    float:center;
    margin-right:0px;
    margin-left:0px;
  }
}

.whitetext {
  color: #FFF;
}

.bluetext{
  color:#0099CC;
}

.footer{
color:#aaa;
text-align:right;
}
.blurb {
  padding: 100px;
  text-align: center;
  position: relative;
}

.blurbBody {
  max-width:700px;
  margin:auto;
}
